# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.whl

# Virtual environments
.venv/
venv/
env/
ENV/
myenv/

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*.ipynb_checkpoints

# Environment variables
.env
.env.local
.env.*

# Data & models (fichiers lourds)
*.csv
*.parquet
*.pkl
*.pickle
*.h5
*.hdf5
*.json.gz
data/
models/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
logs/
